[Unit]
Description=Start Firevigeo Tor-Setup creation!
After=network-online.target

[Service]
Type=simple
ExecStart=firevigeo -s
Restart=on-failure
RestartSec=2s

[Install]
Alias=firevigeo.service
